bibModelBudka/Model/Authors.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Autorzy">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Autor" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="id" type="xs:int" use="required" />
						<xs:attribute name="nazwisko" type="xs:string" use="required" />
						<xs:attribute name="imie" type="xs:string" use="required" />
						<xs:attribute name="rokUr" type="xs:unsignedShort" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>