bibModelBudka/Model/Books.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Ksiazki">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Ksiazka" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="id" type="xs:int" use="required" />
						<xs:attribute name="IdAutora" type="xs:int" use="required" />
						<xs:attribute name="tytul" type="xs:string" use="required" />
						<xs:attribute name="rok_wydania" type="xs:unsignedShort" use="required" />
						<xs:attribute name="IdWydawcy" type="xs:int" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>